{% extends "taslak.html" %}

{% block baslik %} Login {% endblock %}

{% block icerik %}

    <div class="main">
        <form action="{{ url_for('login_control') }}" method="post">
            <label> giriş </label>
            <input type="text" name="isim" placeholder="Kullanıcı adı" required>
            <input type="password" name="sifre" placeholder="Şifre giriniz" required>
            <button> giriş </button>
            <a href="/kaydol">Kaydol</a>
            {% if hata %}
                <label> {{ hata }} </label>
            {% endif %}
        </form>
    </div>
    
{% endblock %}