{% extends "taslak.html" %}

{% block baslik %} Ürün Güncelle{% endblock %}

{% block icerik %}
<div class="main">
    <form action="{{ url_for('urun_kaydet') }}" method="post">
        <label> Ürün </label>
        <input type="text" name="id" value="{{ urun[0] }}"readonly>
        <input type="text" name="kod" value="{{ urun[1] }}" placeholder="Kodu" required>
        <input type="text" name="ad" value="{{ urun[2] }}" placeholder="İsim" required>
        <input type="text" name="fiyat" value="{{ urun[3] }}" placeholder="Fiyat" required>
        <button> Kaydet </button>
        {% if hata %}
        <label> {{ hata }} </label>
        {% endif %}
</form>
    </form>
</div>
{% endblock %}