{% extends "taslak.html" %}

{% block baslik %} Ürün Ekle {% endblock %}

{% block icerik %}

<form method="post" action="/urun_ekle" class="form">
    <label for="kod">Ürün Kodu:</label>
    <input type="text" id="kod" name="kod" required><br>

    <label for="ad">Ürün Adı:</label>
    <input type="text" id="ad" name="ad" required><br>

    <label for="fiyat">Ürün Fiyatı:</label>
    <input type="number" id="fiyat" name="fiyat" step="0.01" required><br>

    <input type="submit" value="Ürün Ekle" class="inputbuton">
</form>

{% endblock %}
