{% extends "taslak.html" %}

{% block baslik %} Ürünler {% endblock %}

{% block icerik %}

<table class="urunler">
    <thead>
        <tr>
            <th>ID</th>
            <th>Kod</th>
            <th>İsim</th>
            <th>Fiyat</th>
            <th>İşlem</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td colspan="5">
                <a href="/urunler/ekle" class="ekle">ekle</a>
            </td>   
        </tr>
        {% for urun in urunler %}
        <tr>
            <td>{{ urun[0] }}</td>
            <td>{{ urun[1] }}</td>
            <td>{{ urun[2] }}</td>
            <td>{{ urun[3] }}</td>
            <td> <a href="/urunler/guncelle/{{ urun[0] }}" class="güncelle">güncelle</a>
                 <a href="/urunler/sil/{{ urun[0] }}" class="sil">sil</a>
            
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}